<div class="sidebar">
  <h2>Navigation</h2>
  <a href="#">About Andrew</a>
  <p>Projects</p>
  <ul>
    <li>
      <a href="#">AeroBnb</a>
      <ul>
        <li>
          <a href="#">Github</a>
        </li>
        <li>
          <a href="#">Live</a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<div class="content">
  <h1 class="page-title">Andrew Larson</h1>
  <p>I am a web developer living in the San Francisco Bay Area, working in Ruby and Javascript. I have experience with the Rails and Backbone.js frameworks, and I enjoy learning new ways to use Javascript to create a seamless user experience. In my free time, I enjoy the outdoors, brewing, reading, and cooking.</p>
</div>