.page-title {
  text-align: center;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  border-right: 1px solid grey;
  padding: 25px;
}

.sidebar a {
  text-decoration: none;
  color: grey;
}

.content {
  position: fixed;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 75%;
  top: 0;
}

.content p {
  width: 75%;
  margin: auto;
}